@import "./abstracts/utilities";

// Reset
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $nunito;
}

:root {
  font-size: 62.5%;
}
body {
  position: relative;
  padding-top: 7rem;
  background-color: $very-light-gray;
}
/////// Mobile-first styles
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.4rem;
  background-color: $white;
  box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  .left-section {
    p {
      font-weight: 800;
      font-size: 2rem;
    }
  }
  .right-section {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    font-weight: 600;
    // outline: 1px solid red;
    cursor: pointer;
    img {
      width: 2rem;
    }
  }
}
// Attribution section
aside {
  font-size: 1.5rem;
  text-align: center;
  color: $very-dark-blue-text;
  p {
    a {
      color: inherit;
      cursor: pointer;
    }
    img {
      font-size: inherit;
      width: 1.5rem;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }
    img:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
}
//
main {
  max-width: 1440px;
  margin: auto;
  // outline: 1px solid red;
}
.form-and-dropdown-container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  outline: none;
  form {
    margin-bottom: 4rem;
    input {
      width: 100%;
      padding: 1rem 4rem;
      outline: inherit;
      border: none;
      // outline: 1px solid red;
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.1);
    }
  }
  div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    select {
      padding: 1rem 3rem;
      outline: none;
      border: none;
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.1);
      option {
      }
    }

    .loader {
      border: 2px solid $white;
      border-top: 2px solid $dark-gray;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 1s linear infinite;
      display: none;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

// All Countries section styles.
.countries-container {
  width: 80%;
  margin: 4rem auto 0 auto;
  .each-country {
    margin-bottom: 4rem;
    box-shadow: 0px 5px 10px 5px rgba($color: #000000, $alpha: 0.05);
    background-color: $white;
    border-radius: 5px;
    overflow: hidden;
    height: 40rem;
    .flag-container {
      height: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info-container {
      padding: 2rem;
      font-size: 1.8rem;
      .country-name {
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 1rem;
        .bold-pop,
        .bold-reg,
        .bold-cap {
          font-weight: 600;
        }
      }
    }
  }
}
//
//
// Media Queries For Main Page
@media (max-width: 332px) {
  header {
    font-size: 1rem;
    .left-section {
      p {
        font-size: inherit;
      }
    }
    .right-section {
      img {
      }
    }
  }
  aside {
    p {
      font-size: 1rem;
      img {
        width: 1rem;
        // outline: 1px solid red;
      }
    }
  }
}
@media (min-width: 550px) {
  .countries-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media (min-width: 680px) {
  .form-and-dropdown-container {
    display: flex;
    justify-content: space-between;
    form {
      margin: 0;
    }
    div {
    }
  }
}
@media (min-width: 1000px) {
  .countries-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

// Specific Country Page Styles
.country-page-main {
  width: 80%;
  max-width: 700px;
  margin: auto;
  display: none;
  .back-btn {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    background-color: $white;
    box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
    padding: 0.4rem 2.5rem;
    margin: 2rem 0 5rem 0;
    cursor: pointer;
    img {
      width: 2rem;
      height: 100%;
      margin-right: 0.2rem;
    }
  }
  .back-btn:active {
    box-shadow: none;
  }
  .flag-container-specific {
    img {
      width: 100%;
      height: 20rem;
      margin: auto;
    }
  }
  .info-container-specific {
    margin-top: 2rem;
    h2 {
      margin-bottom: 1rem;
      font-size: 4rem;
    }
    div {
      div {
        margin-bottom: 4rem;
        p {
          margin: 0.8rem 0;
          font-size: 2rem;
          .bold {
            font-weight: 600;
          }
        }
      }
    }
    .last-box {
      font-size: 2rem;
      div {
        .bold {
          font-weight: 600;
        }
        .borders-specific {
          margin-top: 2rem;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }
      }
    }
  }
}
.border {
  padding: 0.5rem 2rem;
  background-color: $white;
  border: none;
  border-radius: 2px;
  outline: 1px solid $dark-gray;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
}

// /////Darkmode classes
.body-dark {
  background-color: $very-dark-blue;
}
.header-dark {
  background-color: $dark-blue;
  color: $very-light-gray;
}
.aside-dark {
  background-color: $very-dark-blue;
  color: $very-light-gray;
}
.input-dark {
  background-color: $dark-blue;
  color: $white;
}
.info-container-dark {
  background-color: $dark-blue;
  color: $white;
  height: 100%;
}
.filter-dark {
  background-color: $dark-blue;
  color: $white;
}
// Testing dark mode
body {
  // light-mode
  --text-color: hsl(200, 15%, 8%);
  --bkg-color: #fff;
}
body.dark-theme {
  // dark-mode
  --text-color: #eee;
  --bkg-color: hsl(207, 26%, 17%);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    // dark-mode
    --text-color: #eee;
    --bkg-color: hsl(207, 26%, 17%);
  }
  body.light-theme {
    // light-mode
    --text-color: hsl(200, 15%, 8%);
    --bkg-color: #fff;
  }
}

/* * {
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background: var(--bkg-color);
}

h1,
p {
  color: var(--text-color);
}
