.country-page-main {
  width: 80%;
  margin: auto;
  // outline: 1px solid red;
  .flag-container-specific {
    // outline: 1px solid red;
    img {
      width: 100%;
      height: 20rem;
    }
  }
  .info-container-specific {
    margin-top: 2rem;
    h2 {
      margin-bottom: 1rem;
      font-size: 4rem;
    }
    div {
      div {
        margin-bottom: 4rem;
        p {
          margin: 0.8rem 0;
          font-size: 2rem;
          .bold {
            font-weight: 600;
          }
        }
      }
    }
  }
}
