///////////fonts
//weights:  300, 600, 800
// Homepage: 14px
// Detail Page: 16px
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

////////////colors
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-bg: hsl(207, 26%, 17%);
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
